@import "_functions";

:host {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.scores-container {
  font-family: 'Open Sans', sans-serif;

  top: 110px;
  position: absolute;
  display: inline-flex;
}
@media only screen and (max-width : 480px) {
    .scores-container{
      top: 80px;
    }

}
.score-container, .best-container {
  $inner-height: 20px;

  width: 80px;
  margin-left: 8px;
  margin-right: 13px;
  position: relative;
  display: inline-block;
  background: #e4c39b;
  padding: 15px 15px;
  font-size: $inner-height;
  height: $inner-height;
  line-height: $inner-height + 22px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;

  &:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #f4e7d7;
  }

  .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: $inner-height;
    line-height: $inner-height;
    font-weight: bold;
    color: rgba(#60412b, .9);
    z-index: 100;
    @include animation(move-up 600ms ease-in);
    @include animation-fill-mode(both);
  }
}

.score-container:after {
  content: "Score";
}

.best-container:after {
  content: "Best"
}

h1{
  font-size: 3rem;
  text-align: left;
}

.board {
  //border: 4px dotted  #e4c39b;
  //background: #e4c39b;
  position: relative;
  touch-action: none;
}

.grid-row {
  display: flex;
  flex-direction: row;
  touch-action: none;
}

.grid-tile {
  box-sizing: border-box;
  display: flex;
  padding: 4px;
  touch-action: none;
  .fill {
    background: #f4e7d7;
    border-radius: 4px;
    flex-grow: 1;
  }
}

.tile {
  touch-action: none;
  box-sizing: border-box;
  color: #60412b;
  //border-radius: 4px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  height: 100px;
  width: 100px;
  position: absolute;
  padding: 4px;

  .fill{
    border-radius: 4px;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.-color-2 { background: #efdbc2; }
    &.-color-4 { background: #eaeaae; }
    &.-color-8 { background: #cceaae; }
    &.-color-16 { background: #aeeaae; }
    &.-color-32 { background: #aeeacc; }
    &.-color-64 { background: #aeeaea; }
    &.-color-128 { background: #aeccea; }
    &.-color-256 { background: #aeaeea; }
    &.-color-512 { background: #ccaeea; }
    &.-color-1024 { background: #eaaeea; }
    &.-color-2048 { background: #eaaecc; }
    &.-color-4096 { background: #eaaebd; }
    &.-color-8192 { background: #eaaeae; }
  }
}

.actions{
  margin-top: 22px;
  width: 400px;
}

.restart-button {
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  font-family: 'Eater', cursive;
  display: in-line flex;
  background: #8c5e26;
  border-radius: 10px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 50px;
  width: 180px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
  float: left;
  border: none;
  box-shadow: 0 9px #deb787;

  &:hover{
   background: #b47931;
  }
  &:active{
   background-color: #b47931;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
  }
}

.eliminate-button {
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  font-family: 'Eater', cursive;
  display: in-line flex;
  background: #8c5e26;
  border-radius: 10px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 50px;
  width: 180px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
  float: right;
  border: none;
  box-shadow: 0 9px #deb787;

  &:hover{
   background: #b47931;
  }
  &:active{
   background-color: #b47931;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
  }
}
