@import "_functions";

:host {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.scores-container {
  border: 10px solid red;
  z-Index: 10;
  right: 0;
  position: absolute;
}

h1{
  font-size: 3rem;
  text-align: left;
}

.board {
  //border: 4px dotted  #e4c39b;
  //background: #e4c39b;
  position: relative;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-tile {
  box-sizing: border-box;
  display: flex;
  padding: 4px;
  .fill {
    background: #f4e7d7;
    border-radius: 4px;
    flex-grow: 1;
  }
}

.tile {
  box-sizing: border-box;
  color: #60412b;
  //border-radius: 4px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  height: 100px;
  width: 100px;
  position: absolute;
  padding: 4px;

  .fill{
    border-radius: 4px;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.-color-2 { background: #efdbc2; }
    &.-color-4 { background: #eaeaae; }
    &.-color-8 { background: #cceaae; }
    &.-color-16 { background: #aeeaae; }
    &.-color-32 { background: #aeeacc; }
    &.-color-64 { background: #aeeaea; }
    &.-color-128 { background: #aeccea; }
    &.-color-256 { background: #aeaeea; }
    &.-color-512 { background: #ccaeea; }
    &.-color-1024 { background: #eaaeea; }
    &.-color-2048 { background: #eaaecc; }
    &.-color-4096 { background: #eaaebd; }
    &.-color-8192 { background: #eaaeae; }
  }
}

.actions{
  margin-top: 22px;
  width: 400px;
}

.restart-button {
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  display: in-line flex;
  background: #8f7a66;
  border-radius: 10px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 50px;
  width: 180px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
  float: left;
  border: none;
  box-shadow: 0 9px #999;;

  &:hover{
   background: #776555;
  }
  &:active{
   background-color: #776555;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
  }
}

.eliminate-button {
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  display: in-line flex;
  background: #8f7a66;
  border-radius: 10px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 50px;
  width: 180px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
  float: right;
  border: none;
  box-shadow: 0 9px #999;;

  &:hover{
   background: #776555;
  }
  &:active{
   background-color: #776555;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
  }
}
