
.roof-top{
  top:0;
  margin: auto;
  position: static;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 240px 180px 240px;
  border-color: transparent transparent #64431b transparent;
}

@media only screen and (max-width : 480px) {
    .roof-top{
      display: none;
    }
}

.title-overflow{
  display: none;
}
.title h1 {
  color: #efdbc3;
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  width: 100%;
  top: 20px;
  left: 0;
  font-size: 3rem;
  text-align: center;
  position: fixed;
  z-index: 99;
  //display: inline;
}
@media only screen and (max-width : 480px) {

    .overflow{
      top: 0;
      width: 50%;
      height: 160px;
      padding-bottom: 20px;
      border: none;
      background: none;
    }

    .title{
      //display: none;
      top: 0;
      margin-bottom: -30px;
    }
    .title h1{
      //display: none;
      top: 0;
      margin-bottom: -30px;
    }

}
