/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
  background-image: url('./img/bg.jpg');
  color: #BBAB98;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
}
