/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
  background-image: url('./img/bg.jpg') ;
  color: #BBAB98;
  height: 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

  font-family: 'Pacifico', cursive;
  font-size: 18px;
}
@media only screen and (max-width : 480px) {
    html{
      background-image: none;
      background-color: #1c371f;
    }

}

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background:url('./img/loader.gif') 50% 50% no-repeat rgb(249,249,249);
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
